In [ ]:
###  Import the necessary libraries

In [3]:
import pandas as pd

# Create the DataFrame with the following values:

In [4]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

Assign it to a variable called regiment.

In [5]:
regiment=pd.DataFrame(raw_data)
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

From each regiment,what is the mean preTestScore ?

In [6]:
mean_preTestScore_by_regiment = regiment.groupby('regiment')['preTestScore'].mean()
print(mean_preTestScore_by_regiment)

regiment
Dragoons      15.50
Nighthawks    15.25
Scouts         2.50
Name: preTestScore, dtype: float64

Present general statistics by company

In [7]:
stats_by_company = regiment.groupby('company').describe().loc[:, [('preTestScore', 'mean'), ('postTestScore', 'mean')]]
print(stats_by_company)

        preTestScore postTestScore
                mean          mean
company
1st         6.666667     57.666667
2nd        15.500000     67.000000

What is the mean of each company's preTestScore?

In [10]:
mean_preTestScore_by_company = regiment.groupby('company')['preTestScore'].mean()
print(mean_preTestScore_by_company)

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

Present the mean preTestScores grouped by regiment and company

In [11]:
mean_preTestScore_by_regiment_company = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()
print(mean_preTestScore_by_regiment_company)

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

Present the mean postTestScores grouped by regiment and company

In [12]:
mean_postTestScore_by_regiment_company = regiment.groupby(['regiment', 'company'])['postTestScore'].mean()
print(mean_postTestScore_by_regiment_company)

regiment    company
Dragoons    1st        47.5
            2nd        75.5
Nighthawks  1st        59.5
            2nd        59.5
Scouts      1st        66.0
            2nd        66.0
Name: postTestScore, dtype: float64

# Group the entire dataframe by regiment and company

In [15]:
grouped_dataframe = regiment.groupby(['regiment', 'company']).mean()
print(grouped_dataframe)

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

C:\Users\dell\AppData\Local\Temp\ipykernel_18364\3371588582.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_dataframe = regiment.groupby(['regiment', 'company']).mean()

 Number of observations in each regiment and company

In [14]:
num_observations_by_regiment = regiment['regiment'].nunique()
num_observations_by_company = regiment['company'].nunique()
print(f"\nNo. of unique observations in Regiment: {num_observations_by_regiment}")
print(f"No. of unique observations in company: {num_observations_by_company}")

No. of unique observations in Regiment: 3
No. of unique observations in company: 2